/*  border-box hack*/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  


/* special sauce */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: lightseagreen;
    
    
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkslateblue;
    text-align: center;
}
/* "picture frame"  technique to resize images*/
.thumbnail-item {
     /* 1. controls the size pf the image */
     width: 30%;
     height: 150px;
     margin-bottom: 20px;
     /* creates rows and columns */
     text-align: center;
     /* alternateive to using flexbox for centering of images or text */
}
/* direct child */
.thumbnail-item > img {
    /* the img adapts to its parent */
    /* choose either the height or width, not both */
    /* height: 100%; */
    max-height: 100%;
    max-width: 100%;
}
/* end picture frame technique */
.thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    /* space-* distributes leftover space */
    justify-content: space-around;

}

.picture-frame {
    width: 90%;
    text-align:  center;
    margin: 0 auto;
   
    /* pushes equally on either side */

}

.picture-frame > img {
    /* the img adapts to its parent */
    /* choose either the height or width, not both */
    /* height: 100%; */
    height: 100%;
    width: 100%;
}

.img-container {
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

.img-container > img {
    width: 100%;
    height: 100%;
}