/*  border-box hack*/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  


/* special sauce */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: powderblue;
    
    
}

.navbar {
    border-bottom: 1px solid pink;
    

    
}

.navbar > img {
    height: 77px;
    width: 77px;
}

.my-image {

    width: 20%;
    border-radius: 50%;
    /* border: 1px solid red; */
    margin: 10px;
    

}


h1 {
    font-family: 'Lobster', cursive;
    color: darkslateblue;
    margin-right: 10px;
    text-align: right;
    
}

h4 {
    font-family: 'Quicksand', sans-serif;
    margin: 5px;
    
    /* padding: 10px; */
}
/* "picture frame"  technique to resize images*/
.thumbnail-item {
     /* 1. controls the size pf the image */
     width: 150px;
     height: 150px;
     margin-bottom: 0;
     /* creates rows and columns */
     text-align: center;
     /* alternateive to using flexbox for centering of images or text */
}
/* direct child */
.thumbnail-item > img {
    /* the img adapts to its parent */
    /* choose either the height or width, not both */
    height: 90%;
    /* max-height: 100%; */
    width: 90%;
}
/* end picture frame technique */
.thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    /* space-* distributes leftover space */
    justify-content: space-around;

}

.thumbnail-container > img {
    width: 150px;
    height: 150px;
}

.picture-frame {
    width: 90%;
    text-align: center;
    margin: 0 auto;
   
    /* pushes equally on either side */

}

.picture-frame > img {
    /* the img adapts to its parent */
    /* choose either the height or width, not both */
    /* height: 100%; */
    height: 100%;
    width: 100%;
}



.modal {
    /*- cover the whoel page
        -overlap everything
    -put a seethrough grey co,lor on top of the page
    -center contents    */

    /* to make this overlap, use position: absolute.
    THis lets you set coordinates for where exactlty you 
    wangt to place an element */
    position: absolute;
    left: 0;
    top: 0; 

    width: 100%; 
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease-in-out;
}

.modal-hidden {
    /* display: none; */
    transform: scale(0.00001);
}